{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
    <h1> Hello, {{current_user.username}}  </h1>   
    
    <!-- Post a post-->
    {% if form %}
        {{ wtf.quick_form(form) }}
    {% endif %}
    
    <!-- New feeds -->
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}

    <!-- Page Navigation -->
    <!-- See more here: https://getbootstrap.com/docs/5.3/components/pagination/ -->
    <nav aria-label="Post navigation">
        <ul class="pagination">
            <li class="page-item{% if not prev_url %} disabled{% endif %}">
                <a class="page-link" href="{{ prev_url }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            <li class="page-item{% if not next_url %} disabled{% endif %}">
                <a class="page-link" href="{{ next_url }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>


{% endblock %}